<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ScriptWidget</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>blue2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>color</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>color</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>color2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>color2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>color3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>color3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>color4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>color4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dark2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lightblue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lightblue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>lightgreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lightgreen</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newicon9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newicon9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>plain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>plain</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>plain2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>plain2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>plain3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>plain3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>plain4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>plain4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>plain5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>plain5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>plain6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>plain6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.everettjf.scriptwidget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>scriptwidget</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>mqq</string>
		<string>alipays</string>
		<string>taobao</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App could save widget preview snapshot to album</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.ScriptWidget</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>ScriptWidget</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>New.ttf</string>
		<string>Unispace.ttf</string>
		<string>OneSlot.ttf</string>
		<string>Monofonto.ttf</string>
		<string>Larabiefont Free.ttf</string>
		<string>Apple ][.ttf</string>
	</array>
</dict>
</plist>
