.DS_Store
iOS/ScriptWidget.xcodeproj/xcuserdata/
iOS/ScriptWidget.xcodeproj/project.xcworkspace/xcuserdata/
macOS/ScriptWidgetMac.xcodeproj/xcuserdata/
macOS/ScriptWidgetMac.xcodeproj/project.xcworkspace/xcuserdata/
